  <!-- Footer Links -->
  <footer>
    <div class="container text-center text-md-left">
      <!-- Footer links -->
      <div class="row text-center text-md-left mt-3 pb-3">

        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto " id="food">
        <h6 class="text-uppercase font-weight-bold">Chop Chop Restuarant</h6>
        <p><i>Good Food, and Great Vibes </i></p>
        </div>
        <!-- Grid column -->

        <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto">
            <h6 class="text-uppercase font-weight-bold">Useful links</h6>
            <p>
            <a href="/home">Home</a>
            </p>

            <p>
              <a href="/foods">Dishes</a>
            </p>

            <p>
              <a href="/book">Book</a>
            </p>

            <p>
            <a href="/about-us">About Us</a>
            </p>


            <p>
            <a href="/contact-us">Contact Us</a>
            </p>
            </div>

            <hr class="w-100 clearfix d-md-none">


            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
            <h6 class="text-uppercase font-weight-bold">Product</h6>
            <p>
              <a href="/main-course">Main Course</a>
            </p>

            <p>
            <a href="/appetizer">Appetizer</a>
            </p>

            <p>
            <a href="/dessert">Deserts</a>
            </p>

            <p>
            <a href="/beverages">Beverages</a>
            </p>


            </div>

                <!-- Grid column -->

            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none">

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto">
            <h6 class="text-uppercase font-weight-bold">Contact</h6>
            <p>
          <img src="/assets/images\icons/home-2.png" id="icon" alt=""> Peradeniya road, Kandy, Sri Lanka</p>
          <p>
          <img src="/assets/images\icons/email-2.png" id="icon-2" alt=""> info@chopchop.com</p>
          <p>
          <img src="/assets/images\icons/telephone-2.png"  alt=""> + 077 24 34 234</p>
         <p>
          <img src="/assets/images\icons/fax-2.png" id="icon" alt=""> + 81 254 990 22</p>
          </div>
            <!-- Grid column -->

          </div>
          <!-- Footer links -->

          <hr>

          <!-- Grid row -->

              <!--Copyright-->
              <p class="text-center text-md-center"> Copyright &copy; 2022 :<a href="https://www.facebook.com/profile.php?id=100012227830496&viewas=&show_switched_toast=false&show_switched_tooltip=false&is_tour_dismissed=false&is_tour_completed=false&show_podcast_settings=false&show_community_transition=false&show_community_review_changes=false&should_open_composer=false&badge_type=NEW_MEMBER&show_community_rollback_toast=false&show_community_rollback=false&show_follower_visibility_disclosure=false&bypass_exit_warning=true"> Mohamed Naveed </a>All Rights Reserved.
              </p>
            <!-- Grid column -->

      </div>  <!-- Grid column -->

      </footer>
      <!-- Footer -->

