/* form page */
.form1{
    background-image:  url(/assets/images/CocktailCool.jpg) ;
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
    margin: 50px auto 0px;
    border: 2px solid #F75C60;
    width: 350px;
    height: 450px;
    padding: 10% auto;
    border-radius: 20px !important;
  }
  

  
  
  
     .form1 p, .form1 input, .form1 button {
      margin: 5px!important;
      color: #F7EFED;
      background: transparent;
      padding: 10% auto;
      border-radius: 10px !important;
  
  }
  
  .form1 input{
    border: 2px solid #F75C60;
  }
  
  .form1 button{
    background: linear-gradient(#FD9A68,#F75C60);
    height: 40px;
    width: 80px;
    border-radius: 5px;
    margin-top: 15px!important;
    width: 100px;
  }
  
  .form1 button a{
    color:#090909;
  
  }
  
  .form1 h2{
    margin: 60px auto 0px !important;
  }
  
  .form1 a{
    color: #080808;
    margin-top: 15px !important;
  }
  .form1-control.success i.fa-check-circle {
      color: #2ecc71;
      visibility: visible;
  }
  
  .form1-control.error i.fa-exclamation-circle {
      color: #e74c3c;
      visibility: visible;
  }
  
  .form1-control small {
      color: #e74c3c;
      position: absolute;
      bottom: 0;
      left: 0;
      visibility: hidden;
  }
  
  .form-control.error small {
      visibility: visible;
  }
  
  
  /* Sign up */
  
  .form{
    //*background-image: url("..assets/images/restaurant _logo.jpg");
    background-blend-mode: soft-light;
    background-size: cover;
    align-content: center;
    margin: 1% auto;
    border: 3s  px solid #F75C60;
    width: 500px;
    height: 650px;
    padding: 10% auto;
    border-radius: 20px !important;
  }
  
  .form2 {
      padding: 60px 30px;
    height: 600px;
  
  }
  @media only screen and (max-width: 768px) {
    .form2{
        width: 350px;
    }
  
  }
  
  .form-control {
      margin-bottom: 10px;
      padding-bottom: 10px;
      position: relative;
  }
  
  .form-control label {
      display: inline-block;
      margin-bottom: 5px;
  }
  
  .header h2{
  margin-left: 600px;
  margin-bottom: -90px; 
  padding-top: 40px;
  color: #e74c3c;

}
  
  
  @media only screen and (max-width: 768px) {
    .header h2{
      margin-left: 50px
  }
  }
  
  .form-control input {
      border: 2px solid #f0f0f0;
      border-radius: 4px;
      display: block;
    color: black;
      font-family: inherit;
      font-size: 14px;
      padding: 10px;
      width: 100%;
  }
  
  .form-control input:focus {
      outline: 0;
      border-color: #777;
  }
  
  .form-control.success input {
      border-color: #2ecc71;
  }
  
  .form-control.error input {
      border-color: #e74c3c;
  }
  
  .form-control i {
      visibility: hidden;
      position: absolute;
      top: 40px;
      right: 10px;
  }
  
  .form-control.success i.fa-check-circle {
      color: #2ecc71;
      visibility: visible;
  }
  
  .form-control.error i.fa-exclamation-circle {
      color: #e74c3c;
      visibility: visible;
  }
  
  .form-control small {
      color: #e74c3c;
      position: absolute;
      bottom: 0;
      left: 0;
      visibility: hidden;
  }
  
  .form-control.error small {
      visibility: visible;
  }
  
  .form button {
    background:linear-gradient(#FD9A68,#F75C60);
    height: 40px;
    width: 80px;
    border-radius: 10px;
    margin-top: 15px!important;
    width:150px;
    margin-left: 140px;
    color:white;
  }
  @media only screen and (max-width: 768px) {
   .form button{
  margin-left: 70px;
   }
  
  }/* form page */
  