<div class="container">
    <div class="map row">
      <div class="col-lg-6 col-md-6">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2522.212795551674!2d80.59667012485902!3d7.266365048837389!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae368da760079d7%3A0x77e22c0cd7ad0f51!2sCentre%20For%20Distance%20And%20Continuing%20Education!5e0!3m2!1sen!2slk!4v1600967754834!5m2!1sen!2slk" width="75%" height="350"  frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>

      <div class="col-lg-6 col-md-6">
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <p>
          <img src="/assets/images\icons/home.png" id="icon" alt=""> Peradeniya road, Kandy, Sri Lanka
        </p>
        <p>
          <img src="/assets/images\icons/email.png"  alt=""> info@chopchop.com</p>
        <p>
          <img src="/assets/images\icons/telephone-call.png"  alt=""> + 077 24 34 234</p>
        <p>
          <img src="/assets/images\icons/fax.png" id="icon" alt=""> + 81 254 990 22</p>
      </div>

    </div>

  </div>