/* About us */

#about-us {
    margin-top:30px;
    margin-left: 15px;
  
  }
  
  #about-us h3{
    color:#F1485B;
    font-size: 26px;
    margin-left: 100px;
  
  }
  
  #about-us p{
    margin-left: 100px;
    color:#F1485B;
    font-size: 18px;
  
  }
  
  #vission h3{
    color:#F1485B;
    font-size: 26px;
    padding-right: 100px;
    margin-left: 100px;
    margin-top:30px;
  
  }
  #vission p{
    color:#F1485B;
    margin-left: 100px;
    font-size: 18px;
  
  }
  #imga{
    margin-left:75px;
  
  
  
  }
    #Mission h3{
      color:#F1485B;
      font-size: 26px;
        margin-left: 100px;
  
  
    }
    #Mission p{
      color:#F1485B;
      margin-right: 50px;
      font-size: 18px;
        margin-left: 100px;
    }
    @media only screen and (max-width: 768px) {
  div.col-md-6 {
    margin-left: -70px;
    #mission{
      padding-left: 50px;
    }
      }
  
}
/* About us */
  