<div class="container">
    <div class="row foods-items">
      <div class="col-lg-3 col-md-3">
        
        <div class="text-center"> 
          <a href="/main-course">Main Course</a>
        </div>
      </div>

      <div class="col-lg-3 col-md-3">
        
          <div class="text-center">
            <a href="/appetizer">Appetizer</a>
          </div>
        
      </div>

      <div class="col-lg-3 col-md-3">
        
          <div class="text-center">
            <a href="/dessert">Desserts</a>
          </div>
        
      </div>
      <div class="col-lg-3 col-md-3">
        
          <div class="text-center">
            
            <a href="beverages">Beverages</a>
          </div>
          
      </div>
    </div>
  </div>

  <div class="container">

    <div id="foods">
    <p id="foods-varieties" class="text-center">
        <a name="/main-course"></a>Main Course
      </p>

      <div id="foods-cards" class="container">
        <div class="row">
          <div  id="foods" class="col-lg-3 col-md-3">
            <div class="foods-content">
              <img src="./assets/images/Nasi-Goreng.jpg" alt="" class="w-100" height="200px">
              <h4>Nasi Goreng</h4>
            </div>
          </div><!--end of the col-3-->

          <div id="foods" class="col-lg-3 col-md-3">
            <div class="foods-content">
              <img src="./assets/images/Bread.jpg" alt="" class="w-100" height="200px">
              <h4>Bread</h4>
              
            </div>
          </div><!--end of the col-3-->

          <div  id="foods"  class="col-lg-3 col-md-3">
            <div class="foods-content">
              <img src="./assets/images/tacos-pastor.jpg" alt="" class="w-100" height="200px">
              <h4>Tacos pastor</h4>
              
            </div><!--end of the col-3-->
          </div>
          <div  id="foods"   class="col-lg-3 col-md-3">
            <div class="foods-content">
              <img src="./assets/images/Menamen.jpg" alt="" class="w-100" height="200px">
              <h4>Menamen</h4>
             
            </div><!--end of the col-3-->
          </div>
        </div><!--end of the row-->
      </div>
      <div class="foods-content">
      <button type="button" class="btn btn-primary text-center"> <a href="/main-course">More</a></button>
      </div>
    </div>

    <div id="foods">
    <p id="foods-varieties" class="text-center">
        <a name="/appetizer"></a>Appetizer
      </p>

      <div id="foods-cards" class="container">
        <div class="row">
          <div  id="foods" class="col-lg-3 col-md-3">
            <div class="foods-content">
              <img src="./assets/images/Lentil-Soup.jpg" alt="" class="w-100" height="200px">
              <h4>Lentil Soup</h4>
              
            </div>
          </div><!--end of the col-3-->

          <div id="foods" class="col-lg-3 col-md-3">
            <div class="foods-content">
              <img src="./assets/images/Rice-balls.jpg" alt="" class="w-100" height="200px">
              <h4>Rice balls</h4>
              
            </div>
          </div><!--end of the col-3-->

          <div  id="foods"  class="col-lg-3 col-md-3">
            <div class="foods-content">
              <img src="./assets/images/Garlic-Bread.jpg" alt="" class="w-100" height="200px">
              <h4>Garlic Bread</h4>
              
            </div><!--end of the col-3-->
          </div>
          <div  id="foods"   class="col-lg-3 col-md-3">
            <div class="foods-content">
              <img src="./assets/images/Cheesy-Onion-Rings.jpg" alt="" class="w-100" height="200px">
              <h4>Cheesy Onion Rings</h4>
              
            </div><!--end of the col-3-->
          </div>
        </div><!--end of the row-->
      </div>
      <div class="foods-content">
        <button type="button" class="btn btn-primary text-center"> <a href="/appetizer">More</a></button>
        </div>
    </div>

    <div id="foods">
    <p id="foods-varieties" class="text-center">
        <a name="Desserts"></a>Desserts
      </p>

      <div id="foods-cards" class="container">
        <div class="row">
          <div  id="foods" class="col-lg-3 col-md-3">
            <div class="foods-content">
              <img src="./assets/images/Baklava.jpg" alt="" class="w-100" height="200px">
              <h4>Baklava</h4>
              
            </div>
          </div><!--end of the col-3-->

          <div id="foods" class="col-lg-3 col-md-3">
            <div class="foods-content">
              <img src="./assets/images/Cupcakes.jpg" alt="" class="w-100" height="200px">
              <h4>Cupcakes</h4>
              
            </div>
          </div><!--end of the col-3-->

          <div  id="foods"  class="col-lg-3 col-md-3">
            <div class="foods-content">
              <img src="./assets/images/Cheese Cake.jpg" alt="" class="w-100" height="200px">
              <h4>Cheese Cake</h4>
              
            </div><!--end of the col-3-->
          </div>
          <div  id="foods"   class="col-lg-3 col-md-3">
            <div class="foods-content">
              <img src="./assets/images/Waffles.jpg" alt="" class="w-100" height="200px">
              <h4>Waffles</h4>
              
            </div><!--end of the col-3-->
          </div>
        </div><!--end of the row-->
      </div>
      <div class="foods-content">
        <button type="button" class="btn btn-primary text-center"> <a href="/dessert">More</a></button>
        </div>
    </div>

    <div id="foods">
    <p id="foods-varieties" class="text-center">
        <a name="beverages"></a>Beverages
      </p>

      <div id="foods-cards" class="container">
        <div class="row">
          <div  id="foods" class="col-lg-3 col-md-3">
            <div class="foods-content">
              <img src="./assets/images/Raspberry mojhito.jpg" alt="" class="w-100" height="200px">
              <h4>Raspberry mojhito</h4>
              
            </div>
          </div><!--end of the col-3-->

          <div id="foods" class="col-lg-3 col-md-3">
            <div class="foods-content">
              <img src="./assets/images/Summer Mint .jpg" alt="" class="w-100" height="200px">
              <h4>Summer Mint</h4>
              
            </div>
          </div><!--end of the col-3-->

          <div  id="foods"  class="col-lg-3 col-md-3">
            <div class="foods-content">
              <img src="./assets/images/Blue Mojhito.jpg" alt="" class="w-100" height="200px">
              <h4>Blue Mojhito</h4>
              
            </div><!--end of the col-3-->
          </div>
          <div  id="foods"   class="col-lg-3 col-md-3">
            <div class="foods-content">
              <img src="./assets/images/Watermelon.Mojhito.jpg" alt="" class="w-100" height="200px">
              <h4>Watermelon Mojhito</h4>
              
            </div><!--end of the col-3-->
          </div>
        </div><!--end of the row-->
      </div>
      <div class="foods-content">
      <button type="button" class="btn btn-primary text-center"> <a href="/beverages">More</a></button>
      </div>
    </div>

  </div>
