<section id="menu" class="menu">  
    <div class="container" data-aos="fade-up"> 
        <div class="tab-content" data-aos="fade-up" data-aos-delay="300">
            <div class="tab-pane fade active show" id="menu-starters">
                <div class="tab-header text-center">
                <p>Menu</p>
                <h3>Appetizer</h3>
                </div>
                <div class="row gy-5">
                    
                    <!-- <div class="col-lg-4 menu-item">
                        <div class="right-content">
                            <div class="image"> <img src="assets/images/menu/appetizer1.jpg" class="menu-img img-fluid" alt=""></div>
                            <h4>Teriyaki Pineapple Meatballs</h4>
                            <p class="ingredients"> These teriyaki pineapple meatballs appetizer that it eventually became a main course. I think the homemade sauce sets these meatballs apart</p>
                            <p class="price"> Rs.1799/=</p>
                            <span id="span">7 left on stock</span> 
                            <form action="" method="get">
                                <label for="quantity">Quantity:</label>
                                <input name="quantity" type="quantity" class="quantity-text" id="quantity" 
                                    onfocus="if(this.value == '1') { this.value = ''; }" 
                                    onBlur="if(this.value == '') { this.value = '1';}"
                                    value="1">
                                <input type="submit" class="button" value="Order Now!">
                            </form>
                        </div>
                    </div> -->



                    <!-- <div class="col-lg-4 menu-item">
                        <div class="right-content">
                            <div class="image"><img src="assets/images/menu/appetizer2.jpg" class="menu-img img-fluid" alt=""></div>
                            <h4>Orange-Glazed Meatballs</h4>
                            <p class="ingredients"> sweet orange marmalade paired with the zip of a jalapeno in this sweet-sour glaze. —Bonnie Stallings, Martinsburg, West Virginia</p>
                                                       
                            <p class="price"> Rs.1199/=</p>
                            <span id="span">7 left on stock</span> 
                            <form action="" method="get">
                                <label for="quantity">Quantity:</label>
                                <input name="quantity" type="quantity" class="quantity-text" id="quantity" 
                                    onfocus="if(this.value == '1') { this.value = ''; }" 
                                    onBlur="if(this.value == '') { this.value = '1';}"
                                    value="1">
                                <input type="submit" class="button" value="Order Now!">
                            </form>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 menu-item">
                        <div class="right-content">
                            <div class="image"> <img src="assets/images/menu/appetizer3.jpg" class="menu-img img-fluid" alt=""></div>
                            <h4>Chicken Parmesan Slider Bake</h4>
                            <p class="ingredients"> Sliders are the perfect finger food for any get-together, and this flavorful chicken Parmesan version won’t disappoint. —Nick Iverson, Denver, Colorado</p>
                            
                            <p class="price"> Rs.1399/=</p>
                            <span id="span">7 left on stock</span> 
                            <form action="" method="get">
                                <label for="quantity">Quantity:</label>
                                <input name="quantity" type="quantity" class="quantity-text" id="quantity" 
                                    onfocus="if(this.value == '1') { this.value = ''; }" 
                                    onBlur="if(this.value == '') { this.value = '1';}"
                                    value="1">
                                <input type="submit" class="button" value="Order Now!">
                            </form>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 menu-item">
                        <div class="right-content">
                            <div class="image"><img src="assets/images/menu/appetizer4.jpg" class="menu-img img-fluid" alt=""></div>
                            <h4>Ham 'n' Cheese Biscuit Stacks</h4>
                            <p class="ingredients"> These finger sandwiches are filling enough to satisfy hearty appetites. I've served the fun little stacks at every event, including holiday gatherings</p>
                            <p class="price"> Rs.1299/=</p>
                            <span id="span">7 left on stock</span> 
                            <form action="" method="get">
                                <label for="quantity">Quantity:</label>
                                <input name="quantity" type="quantity" class="quantity-text" id="quantity" 
                                    onfocus="if(this.value == '1') { this.value = ''; }" 
                                    onBlur="if(this.value == '') { this.value = '1';}"
                                    value="1">
                                <input type="submit" class="button" value="Order Now!">
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4 menu-item">
                        <div class="right-content">
                            <div class="image"><img src="assets/images/menu/appetizer5.jpg" class="menu-img img-fluid" alt=""></div>
                            <h4>Fried Prosciutto Tortellini</h4>
                            <p class="ingredients"> My take on Italian street food, these fried tortellini are crunchy, gooey good. For the sauce, use the best quality tomatoes you can find</p>
                            <p class="price"> Rs.999/=</p>
                            <span id="span">7 left on stock</span> 
                            <form action="" method="get">
                                <label for="quantity">Quantity:</label>
                                <input name="quantity" type="quantity" class="quantity-text" id="quantity" 
                                    onfocus="if(this.value == '1') { this.value = ''; }" 
                                    onBlur="if(this.value == '') { this.value = '1';}"
                                    value="1">
                                <input type="submit" class="button" value="Order Now!">
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4 menu-item">
                        <div class="right-content">
                            <div class="image"><img src="assets/images/menu/appetizer6.jpg" class="menu-img img-fluid" alt=""></div>
                            <h4>Pretzel Bread Bowl with Cheese Dip</h4>
                            <p class="ingredients"> Our town is known as Pretzel City—even our local sports teams are known as The Pretzels. I came up with this recipe for an annual local recipe contest.</p>
                            <p class="price"> Rs.899/=</p>
                            <span id="span">7 left on stock</span> 
                            <form action="" method="get">
                                <label for="quantity">Quantity:</label>
                                <input name="quantity" type="quantity" class="quantity-text" id="quantity" 
                                    onfocus="if(this.value == '1') { this.value = ''; }" 
                                    onBlur="if(this.value == '') { this.value = '1';}"
                                    value="1">
                                <input type="submit" class="button" value="Order Now!">
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4 menu-item">
                        <div class="right-content">
                            <div class="image"><img src="assets/images/menu/appetizer7.jpg" class="menu-img img-fluid" alt=""></div>
                            <h4>Tortilla Pinwheels</h4>
                            <p class="ingredients"> tortilla pinwheel sandwiches, people ask me for the recipe, too! The cream cheese pinwheels can be made ahead of time and sliced</p>
                            <p class="price"> Rs.699/=</p>
                            <span id="span">7 left on stock</span> 
                            <form action="" method="get">
                                <label for="quantity">Quantity:</label>
                                <input name="quantity" type="quantity" class="quantity-text" id="quantity" 
                                    onfocus="if(this.value == '1') { this.value = ''; }" 
                                    onBlur="if(this.value == '') { this.value = '1';}"
                                    value="1">
                                <input type="submit" class="button" value="Order Now!">
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4 menu-item">
                        <div class="right-content">
                            <div class="image"><img src="assets/images/menu/appetizer9.jpg" class="menu-img img-fluid" alt=""></div>
                            <h4>Chicken & Bacon Roll-Ups</h4>
                            <p class="ingredients">  I have leftover chicken or turkey breast, this is a delicious way to use it up. </p>
                            <br>

                            <p class="price"> Rs.499/=</p>
                            <span id="span">7 left on stock</span> 
                            <form action="" method="get">
                                <label for="quantity">Quantity:</label>
                                <input name="quantity" type="quantity" class="quantity-text" id="quantity" 
                                    onfocus="if(this.value == '1') { this.value = ''; }" 
                                    onBlur="if(this.value == '') { this.value = '1';}"
                                    value="1">
                                <input type="submit" class="button" value="Order Now!">
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4 menu-item">
                        <div class="right-content">
                            <div class="image"><img src="assets/images/menu/appetizer8.jpg" class="menu-img img-fluid" alt=""></div>
                            <h4>Party Shrimp</h4>
                            <p class="ingredients"> The marinade for this dish makes the shrimp so flavorful, you won't even need a dipping sauce. Even those who claim they don’t like shellfish really dig this appetizer</p>
                            <p class="price"> Rs.499/=</p>
                            <span id="span">7 left on stock</span> 
                            <form action="" method="get">
                                <label for="quantity">Quantity:</label>
                                <input name="quantity" type="quantity" class="quantity-text" id="quantity" 
                                    onfocus="if(this.value == '1') { this.value = ''; }" 
                                    onBlur="if(this.value == '') { this.value = '1';}"
                                    value="1">
                                <input type="submit" class="button" value="Order Now!">
                            </form>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>  
</section>