<section id="menu" class="menu">  
    <div class="container" data-aos="fade-up"> 
        <div class="tab-content" data-aos="fade-up" data-aos-delay="300">
            <div class="tab-pane fade active show" id="menu-starters">
                <div class="tab-header text-center">
                <p>Menu</p>
                <h3>Desserts</h3>
                </div>
                <div class="row gy-5">
                    
                    <div class="col-lg-4 menu-item">
                        <div class="right-content">
                            <div class="image"><img src="assets/images/menu/dessert1.jpg" class="menu-img img-fluid" alt=""></div>
                            <h4>Coconut yoghurt cake</h4>
                            <p class="ingredients"> the freezer is your best friends. Milk and yoghurt can be stored in ice cube trays and popped out to use in smoothies.</p>
                            <p class="price"> Rs.1190/=</p>
                            <span id="span">7 left on stock</span> 
                            <form action="" method="get">
                                <label for="quantity">Quantity:</label>
                                <input name="quantity" type="quantity" class="quantity-text" id="quantity" 
                                    onfocus="if(this.value == '1') { this.value = ''; }" 
                                    onBlur="if(this.value == '') { this.value = '1';}"
                                    value="1">
                                <input type="submit" class="button" value="Order Now!">
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4 menu-item">
                        <div class="right-content">
                            <div class="image" > <img style="height: 200px;" src="assets/images/menu/dessert.jpeg" class="menu-img img-fluid" alt=""></div>
                            <h4>Chocolate Mousse</h4>
                            <p class="ingredients"> chocolate mousse must be perfect. It should taste rich, indulgent and not too sweet, with a texture that is both light-and-airy and silky-and-smooth.  </p>
                            <p class="price"> Rs.950/=</p>
                            <span id="span">7 left on stock</span> 
                            <form action="" method="get">
                                <label for="quantity">Quantity:</label>
                                <input name="quantity" type="quantity" class="quantity-text" id="quantity" 
                                    onfocus="if(this.value == '1') { this.value = ''; }" 
                                    onBlur="if(this.value == '') { this.value = '1';}"
                                    value="1">
                                <input type="submit" class="button" value="Order Now!">
                            </form>
                         </div>
                    </div>
                    <div class="col-lg-4 menu-item">
                        <div class="right-content">
                            <div class="image"> <img src="assets/images/menu/dessert2.jpg" class="menu-img img-fluid" alt=""></div>
                            <h4>Easy lemon meringue pie</h4>
                            <p class="ingredients"> This is an edited extract from A Table for Friends: The Art of Cooking for Two or Twenty</p>
                            <br>
                            <p class="price"> Rs.999/=</p>
                            <span id="span">7 left on stock</span> 
                            <form action="" method="get">
                                <label for="quantity">Quantity:</label>
                                <input name="quantity" type="quantity" class="quantity-text" id="quantity" 
                                    onfocus="if(this.value == '1') { this.value = ''; }" 
                                    onBlur="if(this.value == '') { this.value = '1';}"
                                    value="1">
                                <input type="submit" class="button" value="Order Now!">
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4 menu-item">
                        <div class="right-content">
                            <div class="image"><img src="assets/images/menu/dessert3.jpg" class="menu-img img-fluid" alt=""></div>
                            <h4>Sticky ginger pudding</h4>
                            <p class="ingredients"> You can never beat a pudding, unless it's spiced with ginger. And, don't forget the cream.</p>
                            <p class="price"> Rs.1299/=</p>
                            <span id="span">7 left on stock</span> 
                            <form action="" method="get">
                                <label for="quantity">Quantity:</label>
                                <input name="quantity" type="quantity" class="quantity-text" id="quantity" 
                                    onfocus="if(this.value == '1') { this.value = ''; }" 
                                    onBlur="if(this.value == '') { this.value = '1';}"
                                    value="1">
                                <input type="submit" class="button" value="Order Now!">
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4 menu-item">
                        <div class="right-content">
                            <div class="image"><img src="assets/images/menu/dessert4.jpg" class="menu-img img-fluid" alt=""></div>
                            <h4>Jamie Oliver's rice pudding</h4>
                            <p class="ingredients"> These decadent and creamy Spanish desserts are punctuated with sumptuous fruits, aromatics and nuts.</p>
                            <p class="price"> Rs.1199/=</p>
                            <span id="span">7 left on stock</span> 
                            <form action="" method="get">
                                <label for="quantity">Quantity:</label>
                                <input name="quantity" type="quantity" class="quantity-text" id="quantity" 
                                    onfocus="if(this.value == '1') { this.value = ''; }" 
                                    onBlur="if(this.value == '') { this.value = '1';}"
                                    value="1">
                                <input type="submit" class="button" value="Order Now!">
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4 menu-item">
                        <div class="right-content">
                            <div class="image"><img src="assets/images/menu/dessert5.jpg" class="menu-img img-fluid" alt=""></div>
                            <h4>Chocolate, coconut and cherry sponge</h4>
                            <p class="ingredients"> Turn to the dark side this spring with a decadent chocolate sponge.</p>
                            <p class="price"> Rs.899/=</p>
                            <span id="span">7 left on stock</span> 
                            <form action="" method="get">
                                <label for="quantity">Quantity:</label>
                                <input name="quantity" type="quantity" class="quantity-text" id="quantity" 
                                    onfocus="if(this.value == '1') { this.value = ''; }" 
                                    onBlur="if(this.value == '') { this.value = '1';}"
                                    value="1">
                                <input type="submit" class="button" value="Order Now!">
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4 menu-item">
                        <div class="right-content">
                            <div class="image"><img src="assets/images/menu/dessert6.jpg" class="menu-img img-fluid" alt=""></div>
                            <h4>Strawberry, ginger and honey pie with golden spelt crust</h4>
                            <p class="ingredients"> Wellington Apiary prickly box honey, is the finishing touch to this flaky spelt pastry and strawberry pie, says delicious.</p>
                            <p class="price"> Rs.899/=</p>
                            <span id="span">7 left on stock</span> 
                            <form action="" method="get">
                                <label for="quantity">Quantity:</label>
                                <input name="quantity" type="quantity" class="quantity-text" id="quantity" 
                                    onfocus="if(this.value == '1') { this.value = ''; }" 
                                    onBlur="if(this.value == '') { this.value = '1';}"
                                    value="1">
                                <input type="submit" class="button" value="Order Now!">
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4 menu-item">
                        <div class="right-content">
                            <div class="image"><img src="assets/images/menu/dessert7.jpg" class="menu-img img-fluid" alt=""></div>
                            <h4>Ready-bake chocolate cookie ice cream sandwiches</h4>
                            <p class="ingredients"> This dough is perfect to have in the freezer; slice off as many biscuits as you need and bake them fresh. </p>
                            <p class="price"> Rs.999/=</p>
                            <span id="span">7 left on stock</span> 
                            <form action="" method="get">
                                <label for="quantity">Quantity:</label>
                                <input name="quantity" type="quantity" class="quantity-text" id="quantity" 
                                    onfocus="if(this.value == '1') { this.value = ''; }" 
                                    onBlur="if(this.value == '') { this.value = '1';}"
                                    value="1">
                                <input type="submit" class="button" value="Order Now!">
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4 menu-item">
                        <div class="right-content">
                            <div class="image"><img src="assets/images/menu/dessert8.jpg" class="menu-img img-fluid" alt=""></div>
                            <h4>Jamie Oliver's baked berry cheesecake</h4>
                            <p class="ingredients">This quick and easy recipe by Jamie Oliver is perfect served warm or cold - either way, you won't be able to resist going in for seconds. </p>
                            <p class="price"> Rs.1999/=</p>
                            <span id="span">7 left on stock</span> 
                            <form action="" method="get">
                                <label for="quantity">Quantity:</label>
                                <input name="quantity" type="quantity" class="quantity-text" id="quantity" 
                                    onfocus="if(this.value == '1') { this.value = ''; }" 
                                    onBlur="if(this.value == '') { this.value = '1';}"
                                    value="1">
                                <input type="submit" class="button" value="Order Now!">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</section>