<section id="menu" class="menu">  
    <div class="container" data-aos="fade-up"> 
        <div class="tab-content" data-aos="fade-up" data-aos-delay="300">
            <div class="tab-pane fade active show" id="menu-starters">
                <div class="tab-header text-center">
                <p>Menu</p>
                <h3>Beverages</h3>
                </div>
                <div class="row gy-5">
                    <div class="col-lg-4 menu-item">
                        <div class="right-content">
                            <div class="image"> <img src="./assets/images/menu/beverages.jpg" class="menu-img img-fluid" alt=""></div>
                            <h4>Fruit Juices</h4>
                            <p class="ingredients"> Fruits without adding any sugar. Some juices are made from whole fruits, including their rinds. Popular fruit types to make juice are orange, apple, pineapple, grapes, pomegranates, etc.</p>
                            <p class="price"> Rs.599/=</p>
                            <span id="span">7 left on stock</span> 
                            <form action="" method="get">
                                <label for="quantity">Quantity:</label>
                                <input name="quantity" type="quantity" class="quantity-text" id="quantity" 
                                    onfocus="if(this.value == '1') { this.value = ''; }" 
                                    onBlur="if(this.value == '') { this.value = '1';}"
                                    value="1">
                                <button type="button" class="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                            Order Now!
                                         </button>    
                                          <!-- Modal -->
                                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Thank you for your order! We know you're going to love it. ...</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-primary"  data-bs-dismiss="modal">Okay</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>   
                            </form>
                        </div>
                    </div>

                    <div class="col-lg-4 menu-item">
                        <div class="right-content">
                            <div class="image"><img src="./assets/images/menu/beverages1.jpg" class="menu-img img-fluid" alt=""></div>
                            <h4>Cereal-based Beverages</h4>
                            <p class="ingredients"> Horchata is a famous drink in Mexico, and Puerto Rico. It is made from white rice and spices. In Japan, amazake is a traditional non-alcoholic drink made from rice with a light sweet flavor.</p>
                            <p class="price"> Rs.699/=</p>
                            <span id="span">7 left on stock</span> 
                            <form action="" method="get">
                                <label for="quantity">Quantity:</label>
                                <input name="quantity" type="quantity" class="quantity-text" id="quantity" 
                                    onfocus="if(this.value == '1') { this.value = ''; }" 
                                    onBlur="if(this.value == '') { this.value = '1';}"
                                    value="1">
                                <button type="button" class="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                            Order Now!
                                         </button>    
                                          <!-- Modal -->
                                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Thank you for your order! We know you're going to love it. ...</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-primary"  data-bs-dismiss="modal">Okay</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>   
                            </form>
                        </div>
                    </div>

                    <div class="col-lg-4 menu-item">
                        <div class="right-content">
                            <div class="image"> <img src="./assets/images/menu/beverages2.jpg" class="menu-img img-fluid" alt=""></div>
                            <h4>Nut-based Milk</h4>
                            <p class="ingredients"> Nut milk is basically a drink made with nuts soaked in fresh water. Common nuts to make this milk type are walnut, almond, hazelnut, peanut, cashew, macadamia, etc.</p>
                            <br>
                            <p class="price"> Rs.399/=</p>
                            <span id="span">7 left on stock</span> 
                            <form action="" method="get">
                                <label for="quantity">Quantity:</label>
                                <input name="quantity" type="quantity" class="quantity-text" id="quantity" 
                                    onfocus="if(this.value == '1') { this.value = ''; }" 
                                    onBlur="if(this.value == '') { this.value = '1';}"
                                    value="1">
                                <button type="button" class="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                            Order Now!
                                         </button>    
                                          <!-- Modal -->
                                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Thank you for your order! We know you're going to love it. ...</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-primary"  data-bs-dismiss="modal">Okay</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>   
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4 menu-item">
                        <div class="right-content">
                            <div class="image"><img src="./assets/images/menu/beverages4.jpg" class="menu-img img-fluid" alt=""></div>
                            <h4>Vegetable Juices</h4>
                            <p class="ingredients">  fruit juice is another nutritious drink from vegetables. Vegetables are low in calories, so they are better for weight watchers than fruit juice</p>
                            <p class="price"> Rs.299/=</p>
                            <span id="span">7 left on stock</span> 
                            <form action="" method="get">
                                <label for="quantity">Quantity:</label>
                                <input name="quantity" type="quantity" class="quantity-text" id="quantity" 
                                    onfocus="if(this.value == '1') { this.value = ''; }" 
                                    onBlur="if(this.value == '') { this.value = '1';}"
                                    value="1">
                                <button type="button" class="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                            Order Now!
                                         </button>    
                                          <!-- Modal -->
                                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Thank you for your order! We know you're going to love it. ...</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-primary"  data-bs-dismiss="modal">Okay</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>   
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4 menu-item">
                        <div class="right-content">
                            <div class="image"><img src="./assets/images/menu/beverages3.jpg" class="menu-img img-fluid" alt=""></div>
                            <h4>Cacao/Chocolate</h4>
                            <p class="ingredients"> Many chocolate variants are made from cacao beans; their nutrients are the same. But for the healthiest option, you should choose pure cacao and mix it with hot water </p>
                            <p class="price"> Rs.699/=</p>
                            <span id="span">7 left on stock</span> 
                            <form action="" method="get">
                                <label for="quantity">Quantity:</label>
                                <input name="quantity" type="quantity" class="quantity-text" id="quantity" 
                                    onfocus="if(this.value == '1') { this.value = ''; }" 
                                    onBlur="if(this.value == '') { this.value = '1';}"
                                    value="1">
                                <button type="button" class="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                            Order Now!
                                         </button>    
                                          <!-- Modal -->
                                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Thank you for your order! We know you're going to love it. ...</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-primary"  data-bs-dismiss="modal">Okay</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>   
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4 menu-item">
                        <div class="right-content">
                            <div class="image"><img src="./assets/images/menu/beverages5.jpg" class="menu-img img-fluid" alt=""></div>
                            <h4>Coffee</h4>
                            <p class="ingredients">First, people need to roast the coffee beans – a fruit of the coffee plant, then grind them into fine particles. Coffee is usually served hot, but iced coffee is also well-loved</p>
                            <p class="price"> Rs.599/=</p>
                            <span id="span">7 left on stock</span> 
                            <form action="" method="get">
                                <label for="quantity">Quantity:</label>
                                <input name="quantity" type="quantity" class="quantity-text" id="quantity" 
                                    onfocus="if(this.value == '1') { this.value = ''; }" 
                                    onBlur="if(this.value == '') { this.value = '1';}"
                                    value="1">
                                <button type="button" class="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                            Order Now!
                                         </button>    
                                          <!-- Modal -->
                                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Thank you for your order! We know you're going to love it. ...</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-primary"  data-bs-dismiss="modal">Okay</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>   
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4 menu-item">
                        <div class="right-content">
                            <div class="image"><img src="./assets/images/menu/beverages6.jpg" class="menu-img img-fluid" alt=""></div>
                            <h4>Mocktails</h4>
                            <p class="ingredients">Mocktails are perfect drinks for ladies at parties or festivals since they are non-alcoholic beverages. They are a combination of fruit juice, soda, cream, herbs, and spices</p>
                            <p class="price"> Rs.499/=</p>
                            <span id="span">7 left on stock</span> 
                            <form action="" method="get">
                                <label for="quantity">Quantity:</label>
                                <input name="quantity" type="quantity" class="quantity-text" id="quantity" 
                                    onfocus="if(this.value == '1') { this.value = ''; }" 
                                    onBlur="if(this.value == '') { this.value = '1';}"
                                    value="1">
                                <button type="button" class="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                            Order Now!
                                         </button>    
                                          <!-- Modal -->
                                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Thank you for your order! We know you're going to love it. ...</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-primary"  data-bs-dismiss="modal">Okay</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>   
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4 menu-item">
                        <div class="right-content">
                            <div class="image"><img src="./assets/images/menu/beverages7.jpg" class="menu-img img-fluid" alt=""></div>
                            <h4>Cider</h4>
                            <p class="ingredients">If your favorite fruit is apple, cider might be the ideal beverage for you as they are a result of fermented apple juice with yeast and other flavorings.</p>
                            <p class="price"> Rs.699/=</p>
                            <span id="span">7 left on stock</span> 
                            <form action="" method="get">
                                <label for="quantity">Quantity:</label>
                                <input name="quantity" type="quantity" class="quantity-text" id="quantity" 
                                    onfocus="if(this.value == '1') { this.value = ''; }" 
                                    onBlur="if(this.value == '') { this.value = '1';}"
                                    value="1">
                                <button type="button" class="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                            Order Now!
                                         </button>    
                                          <!-- Modal -->
                                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Thank you for your order! We know you're going to love it. ...</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-primary"  data-bs-dismiss="modal">Okay</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>   
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4 menu-item">
                        <div class="right-content">
                            <div class="image"><img src="./assets/images/menu/beverages8.jpg" class="menu-img img-fluid" alt=""></div>
                            <h4>Cocktails</h4>
                            <p class="ingredients">Cocktails include 1 or more distilled liquors (spirits) mixed with fruit juice, flavoring agents (like spice, honey, cream, or syrup), and garnishments. </p>
                            <p class="price"> Rs.699/=</p>
                            <span id="span">7 left on stock</span> 
                            <form action="" method="get">
                                <label for="quantity">Quantity:</label>
                                <input name="quantity" type="quantity" class="quantity-text" id="quantity" 
                                    onfocus="if(this.value == '1') { this.value = ''; }" 
                                    onBlur="if(this.value == '') { this.value = '1';}"
                                    value="1">
                                <button type="button" class="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                            Order Now!
                                         </button>    
                                          <!-- Modal -->
                                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Thank you for your order! We know you're going to love it. ...</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-primary"  data-bs-dismiss="modal">Okay</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>   
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</section>