<div id="carousel" class="container">
    
     <ngb-carousel *ngIf="images">
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="w-100" src="\assets\images\homemad.gif" alt="First slide" >
          </div>
        </ng-template>
        
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="w-100" src="\assets\images\berg.avif" alt="secound slide">
          </div>
        </ng-template>

        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="w-100" src="\assets\images\eve-prix.webp" alt="Third slide">
          </div>
        </ng-template>
        
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="d-block w-100" src="\assets\images\grocerybag-gif2-reedit.gif" alt="Forth slide">
          </div>
        </ng-template>

        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="w-100" src="\assets\images\Spaghetti-Beef.jpg" alt="Fifth slide">
          </div>
        </ng-template>

        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="w-100" src="\assets\images\Leftover_Turkey.gif" alt="sixth slide">
          </div>
        </ng-template>

        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="w-100" src="\assets\images\Roasted_Brussels.gif" alt="seventh slide">
          </div>
        </ng-template>

      </ngb-carousel>
    </div>
      
      

<div id="foods-cards" class="container">
    <div class="row">
    <div  id="foods" class="col-lg-3 col-md-3">
    <div class="foods-content">
      <img src="./assets/images/Baklava.jpg" alt="" class="w-100" height="200px">
      <h4>Baklava</h4>
      <button type="button" class="btn btn-primary text-center"> <a href="/foods">More</a></button>
    </div>
  </div><!--end of the col-3-->

    <div id="foods" class="col-lg-3 col-md-3">
    <div class="foods-content">
      <img src="./assets/images/Shawarma.jpg" alt="" class="w-100" height="200px">
      <h4>Shawarma </h4>
      <button type="button" class="btn btn-primary text-center"> <a href="/foods">More</a></button>
    </div>
    </div><!--end of the col-3-->

    <div  id="foods"  class="col-lg-3 col-md-3">
    <div class="foods-content">
    <img src="./assets/images/Garlic-Bread.jpg" alt="" class="w-100" height="200px">
    <h4>Garlic Bread</h4>
        <button type="button" class="btn btn-primary text-center"> <a href="/foods">More</a></button>
    </div><!--end of the col-3-->
    </div>
          <div  id="foods"   class="col-lg-3 col-md-3">
            <div class="foods-content">
            <img src="./assets/images/pancake.jpg" alt="" class="w-100" height="200px">
            <h4>Pancake</h4>

                <button type="button" class="btn btn-primary text-center"> <a href="/foods">More</a></button>
          </div><!--end of the col-3-->
          </div>
      </div><!--end of the row-->
    </div><!--end of the container-->

  

